<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"> 

<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painter</title>
</head>
<body>
    <p th:text="${currentPainter.id}"></p>
	<p th:text="${currentPainter.firstName}"></p>
    <p th:text="${currentPainter.lastName}"></p>
	<p th:text="${currentPainter.birthYear}"></p>
    <p th:text="${currentPainter.yearOfDeath}"></p>
	<p th:text="${currentPainter.placeOfBirth}"></p>
    <p th:text="${currentPainter.country}"></p>
	<p th:text="${currentPainter.additionalInformation}"></p>

    <a href="https://localhost:8080/h/painters/index">
        <input type="submit"/> PaintersIndexPage</a>

</body>
</html>