<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"> 

<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painting</title>
</head>
<body>

    <p th:text="${currentPainting.id}"></p>
	<p th:text="${currentPainting.name}"></p>
    <p th:text="${currentPainting.year}"></p>
	<p th:text="${currentPainting.artPeriod}"></p>
    <p th:text="${currentPainting.painterId}"></p>
	<p th:text="${currentPainting.additionalInformation}"></p>
 

    <a href="https://localhost:8080/h/paintings/index">
        <input type="submit"/> PaintingsIndexPage</a>

</body>
</html>